*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
proguard/
*.log
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
*.jks
google-services.json
firebase.json
crashlytics.properties
jniLibs/